Repository luojiyin1987/img-squeeze: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-audit, cargo-toml-fmt

.pre-commit-config.yaml:

# Pre-commit configuration for img-squeeze Rust project
# See https://pre-commit.com for more information
repos:
  # Built-in hooks for general file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Prevent files larger than 1MB
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust-specific hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Format Rust code
      - id: fmt
        name: Rust fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt
        language: system
        files: \.rs$
        args: ["--all", "--", "--check"]

      # Lint Rust code
      - id: clippy
        name: Rust clippy
        description: Lint Rust code with clippy
        entry: cargo clippy
        language: system
        files: \.rs$
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      # Check Rust code compiles
      - id: cargo-check
        name: Rust cargo check
        description: Check Rust code compiles
        entry: cargo check
        language: system
        files: \.rs$
        args: ["--all-targets", "--all-features"]
        pass_filenames: false

  # Additional Rust tooling
  - repo: local
    hooks:
      # Run Rust tests
      - id: cargo-test
        name: Rust cargo test
        description: Run Rust tests
        entry: cargo test
        language: system
        files: \.rs$
        args: ["--all-features"]
        pass_filenames: false

      # Security audit
      - id: cargo-audit
        name: Rust cargo audit
        description: Security audit of Rust dependencies
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      # Check for unused dependencies
      - id: cargo-machete
        name: Rust cargo machete
        description: Check for unused dependencies
        entry: cargo machete
        language: system
        files: Cargo\.toml$
        pass_filenames: false
        # This hook is optional and will be skipped if cargo-machete is not installed
        verbose: true
        stages: [manual]

      # Validate Cargo.toml format
      - id: cargo-toml-fmt
        name: Cargo.toml format check
        description: Check Cargo.toml is properly formatted
        entry: bash -c 'cargo metadata --format-version 1 >/dev/null'
        language: system
        files: Cargo\.toml$
        pass_filenames: false

  # Documentation checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-docstring-first
        files: \.rs$

# Global configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [cargo-machete]  # Skip optional hooks in CI
  submodules: false

# Performance optimization
default_stages: [commit]
minimum_pre_commit_version: "3.0.0"

refactor: code clear
  src/batch.rs
  src/constants.rs
  src/info.rs
  src/lib.rs
  src/main.rs
  src/processing.rs
Due: cargo-test

CI: config coderabbit.yml
  .github/.coderabbit.yml
Due: none

CI: auto review
  .github/.coderabbit.yml
Due: none

doc: update
  CLAUDE.md
  README.md
Due: none

feat: code review agent
  .claude-workflow.yml
  .claude-workflow/config/claude-workflow.yml
  CLAUDE.md
  claude-agent/Cargo.lock
  claude-agent/Cargo.toml
  claude-agent/examples/basic_usage.rs
  claude-agent/examples/pr_review.rs
  claude-agent/src/agents.rs
  claude-agent/src/config.rs
  claude-agent/src/core.rs
  claude-agent/src/github.rs
  claude-agent/src/lib.rs
  claude-agent/src/mcp_tools.rs
  claude-agent/src/project_detector.rs
  claude-agent/src/workflow_engine.rs
  docs/claude-agent-architecture.md
  docs/claude-code-agent-integration.md
  docs/claude-copilot-universal-framework.md
  docs/claude-copilot-workflow.md
Due: cargo-test, cargo-audit, cargo-toml-fmt

code clear
  claude-agent/Cargo.lock
  claude-agent/Cargo.toml
  claude-agent/examples/basic_usage.rs
  claude-agent/examples/pr_review.rs
  claude-agent/src/agents.rs
  claude-agent/src/config.rs
  claude-agent/src/core.rs
  claude-agent/src/github.rs
  claude-agent/src/lib.rs
  claude-agent/src/mcp_tools.rs
  claude-agent/src/project_detector.rs
  claude-agent/src/workflow_engine.rs
Due: cargo-test, cargo-audit, cargo-toml-fmt

code clear
  .claude-workflow.yml
  claude-workflow.sh
  src/batch.rs
Due: cargo-test

code clear
  docs/claude-agent-architecture.md
  docs/claude-code-agent-integration.md
  docs/claude-copilot-universal-framework.md
  docs/claude-copilot-workflow.md
Due: none

CI: coderrabit review
  .github/.coderabbit.yml
  .github/workflows/coderabbit_review.yml
Due: none

coderabbit review config
  .coderabbit.yaml
  .github/workflows/coderabbit_review.yml
Due: none

doc: update claude
  CLAUDE.md
Due: none

publish: 0.1.1 ver
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-audit, cargo-toml-fmt

publish: 0.1.1 ver
  src/cli.rs
Due: cargo-test

dependencies: heic
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-toml-fmt

feat: heic
  src/error.rs
  src/processing.rs
Due: cargo-test

doc: update readme
  README.md
Due: none

feat: option jpg process
  src/processing.rs
Due: cargo-test

update claude.md
  README.md
Due: none

feat: mogrify img sh
  mogrify.sh
Due: none

feat: complete HEIC image decoding implementation
  src/processing.rs
Due: cargo-test

feat: enhance mogrify.sh with cross-platform compatibility and HEIC support
  mogrify.sh
Due: none

fix: ensure consistent HEIC image dimensions and improve bc calculation precision
  mogrify.sh
  src/processing.rs
Due: cargo-test

security: add critical HEIC plane buffer validation to prevent OOB reads
  src/constants.rs
  src/processing.rs
Due: cargo-test

fix: update process_and_save_image calls to include input_path parameter
  benches/compression_bench.rs
Due: cargo-test

security: unify HEIC loading strategy with canonicalize and file-based reading
  src/processing.rs
Due: cargo-test

security: add HEIC plane stride validation to prevent row overrun
  src/processing.rs
Due: cargo-test

fix: git clone url
  README.md
Due: none
